<main class="darker-blue main-html-page" id="welcomeX">
    <!-- Preloader -->
   <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div> 

    <!-- ##### Header Area Start ##### -->
    <!-- <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container breakpoint-off dark left">
            <div class="container">
             
                <nav class="classy-navbar justify-content-between" id="dreamNav">

             
                    <a class="nav-brand" href="index-2.html"><img src="assets/img/logo_small.png" alt="logo"> Roboto</a>

                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <div class="classy-menu">

                     
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#faq">faq</a></li>
                                <li><a href="#team">Team</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>

                           
                            <a href="#" class="btn login-btn ml-50">Log in</a>
                        </div>
                      
                    </div>
                </nav>
            </div>
        </div>
    </header> -->
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area clearfix dzsparallaxer auto-init fullwidth" data-options='{direction: "normal"}'
        id="home">
        <div class="divimage dzsparallaxer--target"
            style="width: 101%; height: 100%; background-image: url(img/bg-img/bg-2.jpg)"></div>

        <!-- Hero Content -->
        <div class="hero-content">
            <!-- blip -->
            <div class="dream-blip blip1"></div>
            <div class="dream-blip blip2"></div>
            <div class="dream-blip blip3"></div>
            <div class="dream-blip blip4"></div>

            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-4 col-md-5">
                        <div class="welcome-content">

                            <h1 class="artficial wow fadeInUp main-header" data-wow-delay="0.2s">Rapid Application Development</h1>
                            <p class="artficial  wow fadeInUp" data-wow-delay="0.3s">Enable your clients for change through new technologies, tailored skillsets and implementation.</p>

                             <p class="artficial  wow fadeInUp" data-wow-delay="0.3s">
                                 
                                  </p>
                            <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#" class="btn dream-btn mr-3">Learn More</a>
                              <!-- <a href="#" class="btn dream-btn">Contact Us</a> -->
                            </div>
                        </div>
                    </div>
                    <!-- Welcome Video Area -->
                    <div class="col-12 col-lg-6 col-md-5">
                        <div class="push-ilustration">
                        <div class="main-ilustration-3 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="inovation">
                                <h5>Experiment</h5>
                                <p>Design and fulfill one or more model or prototypes.</p>
                            </div>
                            <div class="inovation num2">
                                <h5>Build</h5>
                                <p>Produce models and prototype parts with future capabilities</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 col-md-2 welcome-small-wrapper">
                        <div class="welcome-content-small">
                            <h4 class="artficial wow fadeInUp" data-wow-delay="0.2s">Ideate</h4>
                            <p class="artficial  wow fadeInUp" data-wow-delay="0.3s">Challenge processes to form ideas based on the clients future technology needs. </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Our features Area start ##### -->
    <section class="features section-padding-100-0">

        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s" id="about">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Technology and Tooling journey with DevOps</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">
DevOps is no longer solely about the stuff you make, but about your journey to a successful deployment of your application and product.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="service-img-wrapper how col-lg-6 col-md-12 col-sm-12">
                    <div class="image-box">
                        <img src="assets/img/core-img/robot-3.gif" class="center-block img-responsive phone-img" alt="">
                    </div>
                </div>
                <div class="services-column col-lg-6 offset-lg-0 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
                    <!--Services Block Four-->
                    <div class="services-block-four how">
                        <div class="inner-box">
                            <div class="step"><i class="fas fa-chart-pie"></i></div>
                            <h3><a href="#">Minimizing the challenges along the way</a></h3>
                            <div class="text">DevOps is about minimizing the challenges of shipping, rapidly iterating, and securing software applications. Applying DevOps standardizes a set of technology and tooling integrations paired with cultural best practices to set the business up for success.
                            </div>

                        </div>
                    </div>

                    <!--Services Block Four-->
                    <div class="services-block-four how">
                        <div class="inner-box">
                            <div class="step"><i class="fas fa-hammer"></i></div>
                            <h3><a href="#">Rapid implementation</a></h3>
                            <div class="text">DevOps includes the entire organization from business personnel and developers to operators and security professionals. It enables the movement away from Waterfall software development for a more rapid implementation for all teams.
                            </div>
                        </div>
                    </div>

                    <!--Services Block Four-->
                    <div class="services-block-four how" style="margin-bottom:0">
                        <div class="inner-box">
                            <div class="step"><i class="fas fa-project-diagram"></i></div>
                            <h3><a href="#">Modernization of your software delivery processes</a></h3>
                            <div class="text">DevOps is all about modernization of your software delivery processes without hindering security or operational overhead. 
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- ##### Our features Area End ##### -->


    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area section-padding-100 clearfix" >
        <div class="container">
            <div class="row align-items-center">

                <div class="col-12 col-lg-6">
                    <div class="who-we-contant">
                        <!-- Dream Dots -->
                        <div class="dream-dots wow fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h4 class="wow fadeInUp" data-wow-delay="0.3s">At the Studio, we rely heavily on automation for our applications</h4>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">
                        Our DevOps team automates infrastructure by performing continuous integration, continuous testing, and continuous deployment, including application performance monitoring on real time deliverables.
                        </p>

                        <p class="wow fadeInUp" data-wow-delay="0.5s">
                        The end goal of automation is to foster speed, efficency, reilability and increase the number of 
                        deliveries.
                        </p>

                        <a class="btn dream-btn mt-30 wow fadeInUp" data-wow-delay="0.6s" href="/devops.html">See DevOps team</a>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="welcome-meter wow fadeInUp" data-wow-delay="0.7s">
                        <img src="assets/img/core-img/feature-1.png" class="solution center-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->


    <section class="demo-video section-before section-padding-100">
        <div class="container">
            <div class="section-heading text-center">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <h2 class="wow fadeInUp" data-wow-delay="0.3s">Talent and Technology</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Here at the studio, we bring the best talent and latest technologies together and collaborate with clients to solve their challenges and drive change.</p>
            </div>
            <!-- Welcome Video Area -->
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
                <div class="welcome-video-area wow fadeInUp" data-wow-delay="0.5s">
                    <!-- Welcome Thumbnail -->
                    <div class="welcome-thumb">
                        <img src="assets/img/vr_chick.jpg" alt=""> 
                    </div>
                    <!-- Video Icon -->
                    <div class="video-icon">
                        <a href="https://www.youtube.com/watch?v=dpaw_ZAHZ-Q" class="btn dream-btn video-btn"
                            id="videobtn"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <!-- ##### Our Services Area Start ##### -->
    <section class="our_services_area section-padding-100-0 clearfix" id="services">
        <div class="container">

            <div class="section-heading text-center">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <h2 class="wow fadeInUp" data-wow-delay="0.3s">In the studio with FJORD and Accenture </h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">We work side by side with clients to uncover, imagine, and create experiences that people love and deliver outcomes that they expect.</p>
            </div>


            <div class="row">

<div class="dream-blip blip1"></div>
<div class="dream-blip blip2"></div>
<div class="dream-blip blip3"></div>
<div class="dream-blip blip4"></div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="service-img-wrapper how">
                        <div class="image-box">
                        <div class="service_icon">
                            <div class="svg-kit">
                          <i class="fab fa-hornbill"></i>
                          </div>
                        </div></div></div>
<!-- wxxds--->


<!---->


                        <h6>More Control, More Choices </h6>
                        <p>We create citizen- and user-centric solutions using the ground-breaking service design principles of FJORD along with Accenture Interactive’s award-winning design strategies.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                        <div class="service-img-wrapper how">
                        <div class="image-box">
                        <div class="service_icon">
                            <div class="svg-kit">
                          <i class="fas fa-dice-d6"></i>

                          </div>
                        </div></div></div>

                        <h6>Packaged Deliverables</h6>
                        <p>Delivering specialized talent, techniques, and future forward tools that increase overall productivity in the development process and client collaboration.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Icon -->
                        <div class="service-img-wrapper how">
                        <div class="image-box">
                        <div class="service_icon">
                            <div class="svg-kit">
                         <!---<i class="fab fa-pushed"></i>--->
                        <i class="fab fa-connectdevelop"></i>
                          </div>
                        </div></div></div>
                        <h6>Enterprise-scaled </h6>
                        <p>We are able to deliver efforts and solutions for large, complex projects using ground-breaking service data/design principles. </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.5s">
                                          <!-- Icon -->
                        <div class="service-img-wrapper how">
                        <div class="image-box">
                        <div class="service_icon">
                            <div class="svg-kit">
                          <i class="fas fa-hand-holding-heart"></i>
                          </div>
                        </div></div></div>
                        <h6>Services, solutions, and products that people love</h6>
                        <p>Human needs and context motivates our developers to provide actionable insight throughout a prjoects life cycle. </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.6s">
                                           <!-- Icon -->
                        <div class="service-img-wrapper how">
                        <div class="image-box">
                        <div class="service_icon">
                            <div class="svg-kit">
                         <i class="fas fa-draw-polygon"></i>
                          </div>
                        </div></div></div>
                        <h6>Automation based delivery model</h6>
                        <p> Our team understands the value of automation infrastructure or requirements needed to provide backing for continuously building, testing, and integrations</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <!-- Content -->
                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.7s">
                                            <!-- Icon -->
                        <div class="service-img-wrapper how">
                        <div class="image-box">
                        <div class="service_icon">
                            <div class="svg-kit">
                         <i class="fas fa-project-diagram"></i>
                          </div>
                        </div></div></div>
                        <h6>Uncover, imagine, and create experiences</h6>
                        <p>We rapidly prototype and deliver software to help you reach customers and enter new markets.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Our Services Area End ##### -->


    <!-- ##### Subscribe Area start ##### -->
    <section class="container" id="start">
        <div class="subscribe section-padding-0-0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="subscribe-wrapper">
                        <div class="section-heading text-center">
                            <h2 class="wow fadeInUp" data-wow-delay="0.3s"
                                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Don’t Miss
                                Our News And Updates!</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s"
                                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                As are fulfillments grow, so does our team and scope. Sign up to be in the "know" on the latest projects and technology updates.
                                
                            </p>
                        </div>
                        <div class="service-text">

                            <div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-0 col-xs-12 text-center">
                                <div class="group">
                                    <input type="text" name="subject" required="">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>enter your email</label>
                                    <button class="dream-btn"><i class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>
                          
                           <div class="col-lg-8 col-lg-4 col-sm-12 text-center mb-4">
                           <span class="telegram-text">Subscribe to New from Accenture</span>
                           <a href="" class="button"><i class="fas fa-paper-plane"></i>Subscribe</a>
                            </div>
                           
                            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                                <ul class="list-unstyled list-inline social-list">
                  <li><a href="https://www.facebook.com/AccentureUS/"><i class="fab fa-facebook-square"></i></a></li>
                  <li><a href="https://twitter.com/AccentureFed"><i class="fab fa-twitter-square"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/accenturefederalservices/"><i class="fab fa-linkedin-square"></i></a></li>
                  <li><a href="https://www.youtube.com/accenture"><i class="fab fa-youtube-square"></i></a></li>
                    
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Subscribe Area End ##### -->

    <!-- ##### FAQ & Timeline Area Start ##### -->
    <div class="faq-timeline-area section-padding-100" id="faq">
        <div class="container">
            <div class="section-heading text-center">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
                <h2 class="wow fadeInUp" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">confronting the realities of The post-digital future</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">The post-digital era will be one where each consumer, employee and business partner will have their own reality, and every moment will represent an opportunity for companies to play a role in shaping it.
                </p>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 col-md-12">

                    <div class="dream-faq-area">
                        <dl>
                            <!-- Single FAQ Area -->

                            <dt class="wave wow fadeInUp" data-wow-delay="0.2s">Individualized experiences
                            </dt>
                            <dd class="wow fadeInUp" data-wow-delay="0.3s">
                                <p>At the Studio, we understand organizations will need to deliver not just personalized, but also individualized experiences to meet digitally mature expectations.</p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.3s">Understanding the DNA of DARQ</dt>
                            <dd>
                                <p>
                                New technologies are a catalyst for change. The next set of technologies every company will need to master? DARQ: distributed ledger technology (DLT), artificial intelligence (AI), extended reality (XR) and quantum computing. DARQ technologies will be the next source of differentiation and disruptive technology. </p>
                                
                                <p>As these technologies reach maturity and converge, they will let businesses expand upon their digital capabilities to build intelligent and highly customized, in-the-moment experiences that help shape the lives of their customers, business partners and employees. </p>  
   
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.4s">The speed of now: Rapid Development</dt>
                            <dd>
                                <p>
                                    Technology is creating a world of intensely customized and on-demand experiences, and companies must reinvent their organizations to find and capture those opportunities as they come.
                                    </p>
                            </dd>
                            <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.5s">Exposure to risk</dt>
                            <dd>
                                <p>Ecosystem-driven business connections increase companies’ exposure to risk. Leaders are recognizing that just as they collaborate with entire ecosystems to deliver best-in-class products, services and experiences, security must be part of that effort as well.</p>
                            </dd>

                                                <!-- Single FAQ Area -->
                            <dt class="wave wow fadeInUp" data-wow-delay="0.5s">
                                <i class="fas fa-angle-double-right"></i>
                                <b>The Numbers</b>
                                 <i class="fas fa-angle-double-left"></i>
                                </dt>
                            <dd>
                                <p>In the Accenture Technology Vision 2019 survey of more than 6,600 business and IT executives, 94 percent of respondents said the pace of technology innovation in their organizations had either accelerated or significantly accelerated over the past three years.
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="col-12 col-lg-6">

                     <img src="assets/img/core-img/feature-8.png" class="img-responsive center-block" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- ##### FAQ & Timeline Area End ##### -->


    <!-- ##### Mission Area Start ##### -->
    <section class="our-mission-area  clearfix" id="feature">
        <div class="divimage dzsparallaxer--target "
            style="width: 101%; height: 130%; background-image: url(img/bg-img/bg-3.jpg)"></div>

        <!-- Mission Content -->
        <div class="our-mission-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center pt-2 pb-2">
                    <div class="col-12 col-md-4 col-sm-12 text-center">
                        <!-- Single Mission -->
                        <div class="single-mission wow fadeInUp" data-wow-delay="0.2s">
                           <i class="fas fa-sun"></i>
                            <h6>Quality</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, illo, cumque. Fuga neque
                                similique quibusdam animi ipsam obcaecati.</p>
                        </div>
       
         <a class="btn dream-btn mt-30 mb-4 wow fadeInUp  d-none d-sm-none" data-wow-delay="0.6s" href="#">Read More</a>

                    </div>
                    <div class="col-12 col-md-4 col-sm-12 text-center">
                        <!-- Single Mission -->
                        <div class="single-mission wow fadeInUp" data-wow-delay="0.3s">
                            <i class="fas fa-palette"></i>
                            <h6>Creativity</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, illo, cumque. Fuga neque
                                similique quibusdam animi ipsam obcaecati.</p>
                        </div>

  <a class="btn dream-btn mt-30 mb-4 wow fadeInUp d-none d-sm-none" data-wow-delay="0.6s" href="#">Read More</a>

                    </div>
                    <div class="col-12 col-md-4 col-sm-12 text-center">
                        <!-- Single Mission -->
                        <div class="single-mission wow fadeInUp" data-wow-delay="0.4s">
                            <i class="fas fa-heart"></i>
                            <h6>Reliability</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, illo, cumque. Fuga neque
                                similique quibusdam animi ipsam obcaecati.</p>

  <a class="btn dream-btn mt-30 mb-4 wow fadeInUp d-none d-sm-none" data-wow-delay="0.6s" href="#">Read More</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Mission Area End ##### -->


    <!-- ##### Team Area Start ##### -->
    <section class="our_team_area section-padding-100-0 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <!-- Dream Dots -->
                        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Studio Leadership</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">The Accenture Federal Digital Studio is a unique, collaborative environment where clients come to solve their toughest problems. Here are the special 
                        individuals who are leading the way. </p>
                    </div>
                </div>
            </div>

        

            <div class="row">
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="https://www.accenture.com/t20190211T022513Z__w__/us-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Local/us-en/3/Accenture-BKlavon-2.pngla=en?h=180&w=180" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                         <h5>Bill Klavon</h5>
                            <p>Digital Studio Lead (interim)</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
             <a href="https://www.linkedin.com/in/billklavon"><i class="fab fa-linkedin"></i></a>

                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="https://www.accenture.com/t20190211T022510Z__w__/us-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Local/us-en/3/Accenture-Conrad-New.pngla=en?la=en&h=180&w=180" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Kathy Conrad</h5>
                            <p>Director, Digital Government</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="https://twitter.com/kpconrad"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/kathypconrad"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="https://www.accenture.com/t20190211T022537Z__w__/us-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Local/us-en/2/Accenture-Zinner.pngla=en?la=en" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Chris Zinner</h5>
                            <p>Managing Director</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="https://twitter.com/chris_zinner"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/chriszinner"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="https://www.accenture.com/t20190211T022512Z__w__/us-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Global/Dualpub_187/Accenture-Lauren-Oliver-headshot" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Lauren Oliver</h5>
                            <p>Design Director</p>
                        </div>
                        <!-- Icon -->
                        <div class="team-social-icon">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
            
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="https://www.accenture.com/t20190211T022514Z__w__/us-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Local/us-en/3/Accenture-Jo-Golden-thumbnail.pngla=en?la=en&h=180&w=180" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Dr. Jo Golden</h5>
                            <p>Design Director</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="https://www.linkedin.com/in/jogolden"><i class="fab fa-linkedin"></i></a>
        
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="https://www.accenture.com/t20190211T022513Z__w__/us-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Local/us-en/3/Accenture-Huppert-New.pngla=en?la=en" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Jennifer Huppert</h5>
                            <p>Visual Design Lead</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="https://www.linkedin.com/in/jennifer-huppert-1351985"><i class="fab fa-linkedin"></i></a>

                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="https://www.accenture.com/t20190211T022514Z__w__/us-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Local/us-en/3/Accenture-Kelly-McDonald-thumbnail.pngla=en?la=en" class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Kelley McDonald</h5>
                            <p>Service Design Lead</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="team-social-icon">
                            <a href="https://www.linkedin.com/in/kelleymcdonald1?trk=hp-identity-name"><i class="fab fa-linkedin"></i></a>
  
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="https://www.accenture.com/t20190211T022514Z__w__/us-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Local/us-en/3/Accenture-John-Harne-thumbnail.pngla=en?la=en"class="img-fluid" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>John Harne</h5>
                            <p>Interactive Design Lead</p>
                        </div>
                        <!-- Icon -->
                        <div class="team-social-icon">
                            <a href="https://www.linkedin.com/in/johnharne"><i class="fab fa-twitter"></i></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="our_blog_area clearfix" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <!-- Dream Dots -->
                        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Latest News</h2>
                        <!---
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                            --->
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                {{#each content.blog.blog-1}}
                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            {{#ifequal format 'default'}}
                            <img class="my_img" src="{{img}}" alt="{{title}}">
                            {{/ifequal}}

                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <!-- Dream Dots -->

                            <div class="post-meta mt-20">
                                <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">{{category.name}}</a> <a href="#"
                                        class="post-comments">7 comments</a></p>
                            </div>
                            <a href="index-single-blog.html" class="post-title">
                                <h4>{{title}}</h4>
                            </a>
                            <p>{{excerpt}}</p>
                            <a href="index-single-blog.html" class="btn dream-btn mt-15">Read Details</a>
                        </div>
                    </div>
                </div>
{{/each}}
               
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(img/core-img/pattern.png);">

        <!-- ##### Contact Area Start ##### -->
        <div class="contact_us_area" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <!-- Dream Dots -->
                            <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                                <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Contact With Us</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                        </div>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="contact_form">
                            <form action="#" method="post" id="main_contact_form" novalidate>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="success_fail_info"></div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="group wow fadeInUp" data-wow-delay="0.2s">
                                            <input type="text" name="name" id="name" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Name</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="group wow fadeInUp" data-wow-delay="0.3s">
                                            <input type="text" name="email" id="email" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                            <input type="text" name="subject" id="subject" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="group wow fadeInUp" data-wow-delay="0.5s">
                                            <textarea name="message" id="message" required></textarea>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Message</label>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.6s">
                                        <button type="submit" class="btn dream-btn">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Contact Area End ##### -->

        <div class="footer-content-area "
            style="background: url(img/core-img/footer-bg1.png) no-repeat; background-size:cover">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-12 col-md-5">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text wow fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="/"><img src="assets/img/logo.png" srcset="assets/img/logo@2x.png 2x" alt="Launch Spectrum">Digital Studio - Washington D.C.</a>
                                </div>
                                <p>
                                 The Accenture Federal Digital Studio brings it all together—giving federal business and technology leaders access to creative design, rapid development, and agile approaches.   
                                </p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <!-- Content Info -->
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.2s">
                                <h5>NAVIGATE</h5>
                                <a href="/">
                                    <p><i class="fas fa-home"></i> Home</p>
                                </a>
                                <a href="team-overview.html">
                                    <p>Team</p>
                                </a>
                                <a href="projects.html">
                                    <p>Projects</p>
                                </a>
                                <a href="home.html">
                                    <p>News</p>
                                </a>
                            </div>

                            <!-- Content Info -->
                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h5>Contact</h5>
                            <p>1201 New York Ave NW</p>
                            <p>Washington, DC 20005</p>
                            <p>(202) 533-1100</p>
                            </div>

                            <!-- Content Info -->

                            <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.3s">
                             <h5>Employment</h5>
                             <a href="https://www.accenture.com/us-en/careers"><p>Explore Accenture Careers</p></a>  
                            </div>

                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </footer>
                            </main>