---
layout: horizontal
---

<div class="widget-area widger-area--before-loop">
	{{> _widget-posts-carousel }}
</div>
<div class="content blog-layout--style-4">

	{{#each content.blog.blog-4}}
	<article class="post has-post-thumbnail {{#ifequal format 'video'}} post--video{{/ifequal}}">
		<div class="post__thumbnail">
			<img src="{{img}}" alt="">
		</div>
		<div class="post__body">
			<div class="post__header">
				<ul class="post__cats list-unstyled">
					{{#ifequal format 'video'}}
					<li class="post__thumbnail-icon">
						<span class="lightbox__icon"><!----></span>
					</li>
					{{/ifequal}}
					<li class="post__cats-item {{category.class}}">
						<a href="#">{{category.name}}</a>
					</li>
				</ul>
				<h2 class="post__title h4"><a href="blog-post.html">{{title}}</a></h2>
				<ul class="post__meta list-unstyled">
					<li class="post__meta-item post__meta-item--date">
						<a href="#">{{date}}</a>
					</li>
				</ul>
			</div>
			<div class="post__excerpt">
				{{excerpt}}
			</div>
		</div>
	</article>

	{{#ifequal after 'twitter'}}
		{{> _widget-twitter }}
	{{/ifequal}}

	{{#ifequal after 'twitch'}}
		{{> _widget-twitch }}
	{{/ifequal}}

	{{/each}}

</div>