---
layout: horizontal
---

<div class="page-heading page-heading--loop page-heading--streams-archive bg-image bg--ph-04">
	<div class="page-heading__subtitle h5 color-warning">Necromancers</div>
	<h1 class="page-heading__title h2">Streams </br>Archive</h1>
	<div class="page-heading__body">
		<svg role="img" class="df-icon df-icon--twitch-word-logo">
			<use xlink:href="/assets/img/necromancers.svg#twitch-word-logo"/>
		</svg>
		<div class="h5">Relive your favourite </br>livestreams!</div>
		<p>Select your <span class="color-warning font-bold">favourite streamer</span> to filter the videos, or click the Necromancers logo to checkout all of them!</p>
	</div>
	<!-- Filter -->
	<ul class="streams-filter filter js-filter list-unstyled">

		{{#each content.streams.filter}}
		<li>
			<button class="btn {{state}}" data-filter="{{data-filter}}">
				<img src="{{img}}" alt="">
			</button>
		</li>
		{{/each}}

	</ul>
	<!-- Filter / End -->
</div>
<div class="content streams-archive">

	{{#each content.streams.items}}
	<article class="stream {{data-filter}} has-post-thumbnail">
		<div class="stream__thumbnail">
			<img src="{{img}}" alt="">
		</div>
		<div class="stream__icon"></div>
		<div class="stream__header">
			<div class="stream__info">
				<div class="stream__avatar">
					<img src="{{avatar}}" alt="">
				</div>
				<h6 class="stream__title">
					{{title}}{{#ifequal state 'live'}}<span class="badge badge-danger badge-live">Live</span>{{/ifequal}}
				</h6>
				<div class="stream__date">{{date}}</div>
			</div>
			<a href="#" class="btn btn-twitch btn-twitch--advanced">
				<i class="fab fa-twitch">&nbsp;</i><span class="d-none d-lg-inline-block btn__text-inner">Follow {{player}}</span>
			</a>
		</div>
	</article>
	{{/each}}

</div>
