<!DOCTYPE html>
<html lang="zxx">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<title>{{global.site-name}} - {{global.site-title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{{global.description}}">
	<meta name="author" content="{{global.author}}">
	<meta name="keywords" content="{{global.keywords}}">

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{root}}assets/img/favicons/logo.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{root}}assets/img/favicons/logo.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{root}}assets/img/favicons/logo.png">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<!-- Google Web Fonts
	================================================== -->
	<link href="https://fonts.googleapis.com/css?family={{settings.fonts}}" rel="stylesheet">

	<!-- CSS
	================================================== -->
	<!-- Vendor CSS -->
	<link href="{{root}}assets/vendor/magnific-popup/css/magnific-popup.css" rel="stylesheet">
	<link href="{{root}}assets/vendor/slick/css/slick.css" rel="stylesheet">
	<link href="{{root}}assets/vendor/nanoscroller/css/nanoscroller.css" rel="stylesheet">
	<link href="{{root}}assets/vendor/fontawesome/css/brands.css" rel="stylesheet">

	<link href="{{root}}assets/vendor/styles/css/style.css" rel="stylesheet">
	<link href="{{root}}assets/vendor/styles/css/responsive.css" rel="stylesheet">

		<!-- chart.js -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

	<!-- Template CSS-->
	<link href="{{root}}assets/css/style.css" rel="stylesheet">

	<!-- Custom CSS-->
	<link href="{{root}}assets/css/custom.css" rel="stylesheet">

</head>
